{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>{{ event.name }}</h1>
    <p class="lead">
        {{ event.get_location_str() }} | {{ event.get_date_str() }}
    </p>

    <h2>Scouted Matches</h2>
    <table class="table table-condensed table-hover">
        <tr>
            <th>Team</th>
            <th>Color</th>
            <th>Autonomous Score</th>
            <th>Driver Score</th>
        </tr>

        {% for match in scouting_matches %}
        <tr>
            <td>{{match.team_id}}</td>
            <td>{{match.color}}</td>
            <td>{{match.auton_score}}</td>
            <td>{{match.driver_score}}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>All Matches</h2>
    <table class="table table-condensed table-hover">
        <tr>
            <th>Red 1</th>
            <th>Red 2</th>
            <th>Blue 1</th>
            <th>Blue 2</th>
            <th>Red Score</th>
            <th>Blue Score</th>
        </tr>

        {% for match in vexdb_matches %}
        <tr>
            <td>{{ match.get_red_teams()[0] }}</td>
            <td>{{ match.get_red_teams()[1] }}</td>
            <td>{{ match.get_blue_teams()[0] }}</td>
            <td>{{ match.get_blue_teams()[1] }}</td>
            <td>{{ match.red_score }}</td>
            <td>{{ match.blue_score }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
