{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="team-name">
        {{ team.team_name }}
        <small class="text-muted ml-2 team-id">
            ({{ team.id }})
        </small>
    </h1>
    <p class="lead">
        {{ team.organization }} | {{ team.get_location_str() }}
    </p>

    {% block stats %}
    <div class="row">

        <div class="col-md-6">
            <table class="stats">
                <tr>
                    <th colspan="2">Stats</th>
                </tr>
                <tr>
                    <th>Average Score:</th>
                    <td>??</td>
                </tr>
                <tr>
                    <th>Best Score:</th>
                    <td>??</td>
                </tr>
                <tr>
                    <th>Worst Score:</th>
                    <td>??</td>
                </tr>
                <tr>
                    <th>Autonomous Wins:</th>
                    <td>??</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <table class="stats">
                <tr>
                    <th colspan="2">Rankings</th>
                </tr>
                <tr>
                    <th>Scouting Rank:</th>
                    <td>??</td>
                </tr>
                <tr>
                    <th>World Rank:</th>
                    <td>??</td>
                </tr>
                <tr>
                    <th>Skills Rank:</th>
                    <td>??</td>
                </tr>
            </table>
        </div>

    </div>
    {% endblock %}

    <hr/>

    {% block events %}
    <h2>Events</h2>

    {% for event in events %}
    <table class="table table-condensed table-hover">
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Best/Worst/Avg</th>
            <th>Rank</th>
        </tr>

        <tr>
            <td><a href="/events/{{event.sku}}">{{event.sku}}</a></td>
            <td>{{event.name}}</td>
            <td>??</td>
            <td>??</td>
        </tr>
    </table>
    {% endfor %}
    {% endblock %}
</div>
{% endblock %}
