{% extends "base.html" %}
{% block content %}
<div class="container">

<h1 class="mb-4">Team Rankings</h1>

<table class="table table-condensed table-hover">
    <tr>
        <th>Rank</th>
        <th>ID</th>
        <th>Name</th>
        <th>Organization</th>
        <th>Location</th>
    </tr>

    {% for team in teams %}
    <tr>
        <td>{{loop.index}}</td>
        <td><a href="/teams/{{team.id}}">{{team.id}}</a></td>
        <td>{{team.team_name}}</td>
        <td>{{team.organization}}</td>
        <td>{{team.get_location_str()}}</td>
    </tr>
    {% endfor %}
</table>

</div>
{% endblock %}
